{% extends 'base.html.twig' %}


{% block javascripts %}
    {{parent()}}
     <script src="{{ asset('js/socios.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    {{parent()}}

    <div id="container">
    </div>
    <button class="boton" id="{{id}}">Pulsa</button>
     
{% endblock %}